        <section id="content" style="margin-bottom: 0px;">

            <div class="content-wrap" style="padding-bottom:0px;">

                <div class="container clearfix">

                
 	<h2>LONG PLAIN FIRST NATION</h2>

<h3>OUR HISTORY</h3> 


     

     <blockquote>
							<p>Setting out the Long Plain First Nation history is not an easy task.There is one history which is carried in the mind and hearts of the people. There is another history, a very incomplete one, which can be pieced together from historical documents.</p>
							<footer>Rarihokwats 2016</footer>
						</blockquote>

<h3 style="text-align:center">
A HISTORY OF THE PEOPLE <br />
WHO BECAME THE LONG PLAIN FIRST NATION</h3>

<p>
Strictly speaking, prior to 1876, the First Nation today known as “Long Plain” was not located at “the Long Plain”.  The people who did locate themselves at Long Plain after 1876 were not before that time an independent First Nation community.  The style of living prior to Treaty did not require fixed communities, nor were their fixed “memberships” for the various communities. </p>
<p>Strictly speaking, it can be said that the people who today are the Long Plain First Nation came into being in 1876 when their ancestors located themselves at the Long Plain. 
But it also must be said that those people were part of a rich history of the Ojibway Nation in Manitoba.
This historical account is an effort to tell both stories, before and after 1876.</p>
<p>The first person we can find in written history that we can
trace to today’s Long Plain First Nation is a man named Mechkadewikonaie, sometimes translated as “Black Robe”, sometimes as “Black Cat”. His name was sometimes written “Maccathy Counoyé” in traders’ records.</p>

<p>Mechkadewikonaie is prominent in the 1817 document (see below) setting out an agreement made between various Indigenous leaders of both “Chippeway” (Anishinabe or Ojibway) and Cree Nations and one Lord Selkirk, a prominent figure of the Hudson’s Bay Company. The agreement today is mistakenly known as “the Selkirk Treaty”.  But it cannot be a Treaty because Selkirk entered into it in his own name, not in the name of the Crown. He had no authority from the Crown to act as he did. The document itself does not say it is a “Treaty”. Selkirk called it an “indenture”, something like a lease. It is also interesting to note that Black Robe’s people were to receive the 100 pounds of tobacco annually as their payment for the indenture at the Forks, while the Cree Chief Sonnant or Senna received his tobacco at Portage la Prairie. </p>
<p>The land involved in the indenture consisted of a tract along the Red River and the Assiniboine River two miles wide on each side of the river. It was strictly for the purpose of agriculturalsettlement. Permission was granted to cut hay for a further two miles on each side, but no buildings could be constructed on the haylands.</p>
 
<h3 style="text-align:center">The Pre-History of the Long Plain First Nation</h3>

<p>So having identified Black Robe as a Long Plain ancestor, we turn to the prehistory of the area which is now southern Manitoba, and how it came to be that a Scotch Lord Selkirk would be negotiating an indenture with an Ojibway leader named Mechkadewikonaie, meaning“Black Robe”. </p>

<p>When the French “explorers”: Pierre-Esprit Radisson and Médard Chouart, Sieur des Groseilliers became the first Europeans to see the Forks of the Red and Assinibone River, there were 800 Yankton Sioux tipis camping there. Before the Sioux, there had been the Mandans who occupied the plains southwest of Lake Winnipeg at an early date. </p>

<p>In the late 1600s, the Cree were pressing from the northeast to the south west, and the Assiniboine were pressing from the southwest to the northeast. They met in the region west of Lake Winnipeg on the plains of the Red and Assiniboine rivers. The meat in this sandwich was the Mandans. The pressures from both directions forced the Mandans, who occupied the country to the southwest of Lake Winnipeg, to retire to the Upper Missouri. The Mandan are said to be of the Mound Builder people – mounds such as those which can be seen today near Swan Lake Reserve or at Pilot Mound. 
The Mandan lived in fortified villages, and were well-advanced agriculturalists and pottery makers. It is believed they suffered terribly from the ravages of smallpox, and became almost extinct. By the 1880s, a few still survived on the Upper Missouri, known as the "White Beards".</p>

<p>When LaVerendrye come up the Assiniboine River in 1738 to today’s Portage la Prairie, he found a village of “Western Dakotas” or Assiniboine near today’s water plant.  They co-existed with the Cree when the Cree arrived. He immediately held a council, gave presents to the people, and in the name of France, La Vérendrye entered into a Treaty relationship with them. There he built Fort de la Reine on the south or right bank of Assiniboine with the object of intercepting the Assiniboine trappers on their way to the English posts on Hudson's Bay as well as extending his supply route as he had done all the way across Lake Superior. </p>

<p>In 1750, the Cree burned Fort la Reine. In the winter of 1750, Pere Mornie spent the winter at Fort la Reine.  The fort was rebuilt by Legardeur de St. Pierre in the winter of 1751. </p>

<p>On February 22, 1752, some two hundred Assiniboines arrived at Fort la Reine, passed its gates, took position of the guard house, and threatened to kill Le Gardeur de St. Pierre, the commander. He was forced to leave.</p>

<p>In 1753, the fort was rebuilt once more. But as all French forces began to be needed to fight the English in Quebec. St. Pierre was sent to command the French forces on the Ohio River, where he had discussions with General George Washington. St. Pierre was killed in the Battle of Lake George in 1755.</p>

<p>Which brings this “pre-history” to the complicated, interesting and tragic story of the Cree predecessors of Black Robe. It begins with the horror of smallpox:</p>
 <blockquote>
							<p>"The great scourge of smallpox which raged throughout the west and north from 1780 to 1782 . . . was a disaster which changed the whole history of the Western Indians." </p>
						</blockquote>
 
<p>Estimates are that 75% of the population was destroyed by the plague. As late as 1815, there were reports of the bleached bones of the victims of this terrible epidemic in great numbers at several points.</p>

<p>David Thompson described coming to an encampment on the Eagle Hills. </p>
 <blockquote>
							<p>"None of us had the least idea of the desolation this dreadful disease had done until we went up the bank to camp and looked into the tents, in many of which they were all dead and the stench was horrid... From what we learned three-fifths had died under the disease."  </p>
						</blockquote>

<p>That was the situation which certain groups of Ojibway migrants found when they first arrived in the Red River Valley. </p>

<p>Now to understand the Ojibway migration. One must go back to the civil war of the British which was triggered by the Declaration of Independence in 1775.  That war, known today as “the Revolutionary War”, pitted loyalists to the Crown with those who wanted to be independent of the Crown, to become a “country” instead of a “colony”.  That war ended in favour of the United States of America becoming a country.</p>

<p>So it was that in the last half of the 18th Century, the Ojibway/Chippewas were moving westward along two route: they gained occupancy of such important Minnesota sites as Sandy, Leech, and Red Lakes, and secondly, they also had become prominently located on the Lake Superior-Lake Winnipeg water traverse, Rainy Lake, and Lake of the Woods. </p>

<p>When the Red Lake Ojibway/Chippewa came to Pembina to trade in 1790, they found only a small remnant of Assiniboines left, survivors of the smallpox. The Assiniboine invited them to come to live with them in order to increase their protection against the Sioux, since European settlement was pushing both groups into competition for the same territory. That led to an influx of related Ojibwas from the southeastern Lake Superior Region to the Red River area.  During this period, around the 1780s, Ojibway from the Red Lake, Leech Lake, and Sandy Lake area found the readily-accessible game supply was diminishing. New hunting grounds were required, and this meant pushing back the Sioux.</p>
<p>As they moved north, the Ojibway found the Assiniboines and the Crees encamped in the Pembina Mountains, where they were received in the most friendly manner, and after smoking and feasting for two or three days, these “children of the forest”, as historians referred to them, were formally invited to dwell on the Plains, to eat out of the same dish, to warm themselves at the same fire, and to make common cause with them against their enemies the Sioux, and were told that the country to which they were invited was extensive and abounded in buffalo, moose, and deer, and that it had become to them a land of death -- that whenever they turned their steps they trod on the unburied bones of their kindred. . ."</p>

<p>Subsequently, Ojibway people began to accompany French fur-traders as they arrived Sault Ste. Marie on their journey from Montreal, headed for the Assiniboine River at today’s Winnipeg. That was the gateway to the rich furtrade the Hudson Bay Company was running from York Factory. </p>

<p>This is what had brought Mechkadewikonaie and his people to the Forks of the Red River and the Assiniboine. They became were known as "Saulteaux", meaning from the "Sault". “Sault” is the French word for “rapids”, referring to the impressive rapids at today’s “Sault Ste. Marie” where Lake Superior flows into the “St. Mary’s River” on its journey to Lake Huron. </p>

<p>So the Indigenous people of under discussion called themselves “Anishnabeg”.
The British called them “Ojibway”. The French wrote it as “Achipoes".  The
Americans wrote it as "Chippewa". And when they arrived in the Red River Valley, they were called “Saulteaux.” </p>

<p>Later, the settlers called the Saulteaux “Bungee”, a term which Peter Fidler said in his journal in 1820 arose because in trading, the Ojibway always said they were being offered "bungee", meaning "too little". </p>

<p>Today, it might be said correctly that the "Saulteaux" are Ojibway originating from the area where Lake Superior drains into Lake Huron, now known as Sault Ste. Marie, and are the “Chippeway Tribe” which entered into Treaties 1 and 2.</p>

<p>Like their predecessors from Red Lake, the Ojibwa arrivals from Sault Ste. Marie found the Cree Nation in chaos and despair. Virulent smallpox had decimated the population, even to the shores of Hudson Bay.</p>
<p>At this same time, the surviving Cree and Assiniboine who predominated in the Red River country were moving from fur-gathering to acting as intermediaries in the trade to provisioners to the rapidly-expanding fur-trade network, and with newly-acquired horses, to exploiting the buffalo herds of the plains to the west and south of the Red River country. </p>
<p>The Saulteaux were invited to join the same alliance of the Red Lake Ojibway and the Cree and Assiniboine – to gain allies against the Dakotas to the south. </p>
<p>Both newly-arriving Ojibway groups had enriched their nation by bring in people from other nations. There was considerable intermarriage with the Ottawa, for example. </p>
<p>Thus it was that the resident population of Cree welcomed their linguistic cousins as allies against the Dakota, who also had a claim to this area.</p>

<p>This Ojibway Migration between 1790 and 1795, the smallpox, and the alliance was described by Chief Peguis in an interview with the historian Donald Gunn in 1860.  A second account by John Tanner confirms that history.</p>

<p>How were the Ojibway of this time described? Accounts of the day said they dressed elaborately, with ribbons and beads and small brooches "which is very tastefully arranged". They were attentive to their children. Girls married at 14, had children by age 16, and stopped childbearing at age 30. Some used leather tipis, while others used birch-bark wigwams shaped like beehives, 10-12 feet in diameter, seven feet high. These were painted. The "Bungees" had a reputation for medicine, for which the other native people paid them well. </p>

<p>Peter Fidler noted in his diary that the Ojibways most commonly took their pay in clothing, guns and kettles, while the Cree were paid in rum. </p>
<p>Some people were permanently attached to Hudson’s Bay Company posts: HBC furnished the ammunition, and paid a quart of "high spirits" for each tenth animal. "Our hunter has killed us 38 moose and red deer . . ." Fidler wrote in his journal one day. The trader also gave presents to the hunter's wife, "such as a half pound of beads, a couple of knives, a little gartering, an awl, steel, and a little of the cheering liquor."</p>
<p>Some of the Ojibway did not remain in one location and traded at many different posts, sometimes at La Souris, sometimes at Fort Dauphin, sometimes at “Lac du Manitou-ban”, and, as the trader’s journal put it, at “other places wherever fancy leads them”.</p>
<p>In 1792, the North West Company operating out of Montreal extended its operation over the entire Ojibway country from Lake Superior and the Mississippi in both the U.S. and Canada, in contrast to the Hudson Bay Company which operated out of York Factory.</p>

<p>Also at this time, free-trader posts or “Pedlars” entered the scene. Blondish's
Fort was built in 1793-7 by a free-trader on the Assiniboine River below Portage la Prairie. Another, Adhemar's Fort, was a NWCo. fort located six miles east of Portage la Prairie, south of the High Bluff CPR station.</p>

<p>In less than a year, there were five competing posts working against each other:
liquor was the currency, the first thing to be given to trappers when they entered the fort, the last thing they received when they left.
In 1796, the HBC Post was rebuilt at the site of the old French fort, sometimes called "Assiniboine River Fort" and later "Portage-la-Prairie", "La Prairie", and "Portage des Prairies". In 1798, David Thompson visited the NWCo. Post here in 1798, calling the place "Meadow Portage". D.W. Harmon used the name "Plain Portage" in 1805, saying the NWCo. fort was "miserable", but

"the local situation of which is beautiful beyond anything that I have seen in this part of the world. Opposite the fort was a plain, about 60 miles long and from 1 to 10 miles broad, in the whole extent of which not the least rise of ground was visible, and that the natives resorted to this place every spring to take and dry sturgeon." </p>
<p>At this time, the horse had never been used in this area. The Ojibway had been attracted to the area around Pembina because of "the abundance of furred and large game, notably the beaver, buffalo, deer and bear on streams above and below the Pembina post and in the low wooded Pembina Mountains to the west. It was ideally situated for navigation." However, the area lacked the characteristics necessary for a permanent settlement, e.g., wild rice and maple sugar. Nor were fish in great supply. The open prairie did not offer protection from enemies.</p>

<p>On April 11, 1800, Alexander Henry wrote in his journal, "the Terre Blanche [White Mud River] having been clear of ice for some time, I embarked in my canoe for Portage la Prairie.</p>

<p>On August 21, 1800, Henry's expedition left the forks of the Red and Assiniboine Rivers en route for the Pembina region, the base of operations for the 1800-01 fur season. Henry had contracted 41 hunters near Portage la Prairie earlier in the summer. Among those contracted was Black Robe (“Robe Noire”). Henry lists him as a member of a band from the Leech Lake area ofMinnesota who had left there for the Red River Country in the years 1789-90.</p>

<p>It was at this time that Daniel Harmon of the North-West Company encountered the man named John Tanner, "the white captive". Tanner is the second person in the history that can be traced to the “Portage Band”. Harmon describes Tanner as speaking "no other language excepting theirs. He is about twenty years of age, and is regarded as a chief among that tribe. He dislikes to hear people speak to him respecting his white relations; and in every respect excepting his colour he resembles the savages with whom he resides. He is said to be an excellent hunter. He remains with an old woman who soon after he was taken from his relations, adopted him into her family; and they appear to be mutually fond of each other as if they were mother and son."</p>

<p>The Ojibway gathered around Pembina soon became the target of the Sioux, and the Ojibway moved north into Assiniboine River country. This situation led to the decline of Pembina as a trading centre and forestalled the formation of a stable band of Chippewas in the heart of the Red River Country.</p>

<p>Tanner's Narrative gives much information about life around Portage la Prairie in the early 1800s. When Tanner travelled westward with his newly-widowed mother, Netnokwa, "After a few days we started to go up the Red River, and in two days, came to the mouth of the Assineboin where we found great numbers of Ojibbeways and Ottawwaws encamped." This information places both Ojibbeways and Ottawwaws in the Winnipeg area sometime well prior to 1800.</p>

<p>The fact he went "up the river" indicates he arrived via Lake of the Woods to Lake Winnipeg, and from there went to the mouth of the Assiniboine in present-day Winnipeg.</p>
 <blockquote>
							<p>"As soon as we arrived the chiefs met to take our case into consideration and to agree on some method of providing for us. These, our relations,’ said one of the chiefs, have come to us from a distant country. These two little boys are not able to provide for them and we must not suffer them to be in want among us.’" Since it is known Tanner was captured in 1789 as a boy, and since he was still too young to hunt when they arrived, arrival must have been in the early 1790s.
"Then one man after another offered to hunt for us. . . We then all started together to go up the Assinneboin River, and the first night we camped among the buffalo. . ." This places buffalo a day's journey up the Assineboin from Winnipeg, well to the east of Portage.  </p>
						</blockquote>


<p>"We continued to ascend the Assinneboin about ten days, killing many bears as we travelled along. The Assinneboin is broad, shallow, and crooked, and the water, like that of the Red River, is turbid; but the bottom is sandy, while that of Red River is commonly muddy. The place to which we went on the Assinneboin is seventy miles distant by land from the mouth; but the distance by water is greater. The banks of the river on both sides are covered with poplar and white oak, and some other trees which grow to considerable size. The prairies, however, are not far distant, and sometimes come into the immediate bank of the river.</p>

<p>"We stopped at a place called Prairie Portage [Portage la Prairie] where the Indians directed the trader who was with them to build his house and remain during the winter." Meaning the Ojibway were directing the trader where they wished him to locate.</p>

<p>"We left all our canoes and went up into the country to hunt for beaver among the small streams. The Indians gave Wamegonabiew and myself a small creek where were plenty of beaver and on which they said none but ourselves should hunt. . . We were at length joined by four lodges of Crees." </p>

   </p><p>  This places the Cree and the Ojibways/Ottawas in the area west of Portage  
     at this period of time.</p><p>

"After we had remained about three months in this place . . . the chief man of our band [Assinneboinainse] now proposed to us all to move as the country where we were was exhausted . . ." On the trail, Tanner meets "a woman belonging to one of the brothers of Tawgaweninne [Tanner's adoptive father]." He later refers to the woman as his "aunt".</p><p>

Shortly afterwards, the group "went down to the place where we had left the trader [near Portage la Prairie at Eagle's Nest] and arrived there on the last day of December as I remember the following was New Year's Day. Near this trading house we remained for sometime by ourselves." There they encounter "Peshauba, a celebrated warchief of the Ottawwaws, who had come from Lake Huron several years before." Peshauba had heard about the needy old Ottawwaw woman and her family and had come with his three companions: Wausso (The Lightning), Saggitto (He Who Scares All Men) and Saningwub (He Who Stretches his Wings).</p><p>
Sometime later, Netnokwa and others set out down the Assiniboine for Lake Winnipeg. "The mouth of the Assinneboin is a place much frequented by the Sioux war parties, where they lie concealed and fire upon such as are passing." They finally arrive "at the house [Post] at Lake Winnipeg.</p><p>
On their return (after buying a six-gallon keg of rum to take back to the men, paying six beaver skins per quart), they again arrive at Portage. "In the Assinneboin River, at one or two days above the Prairie Portage, is a place called Kenewkauneshe Wayobant (Where they throw down the grey eagle), at which the Indians frequently stop. . . About this place elks were numerous... We continued here hunting beaver, and killing great numbers until the ice became too thick; then we went to the prairies in pursuit of buffalo." </p><p>
Later, Tanner and his family "went on to the Prairie Portage of the Assinneboin River, where we found Wamegonabiew and Wawbebenaissa."</p><p>

On July 3, 1805, the Sioux attacked the Ojibway at Tongue River, a few miles from the Pembina Trading Post. Among those killed was Alexander Henry the Younger's Ojibway wife and father-inlaw. John Tanner was one of 20 men who went out to do battle after 1400 others fled.</p><p>

Which brings this pre-history to Lord Selkirk. </p><p>
In 1805, Thomas Douglas, the fifth Lord Earl Selkirk began to promote a colonization plan in the heart of the North American continent at the Red River area as the only remedy for a superabundance of population in Scotland. He had already established a colony in Prince Edward Island which was rather successful.</p><p>

In 1808, Selkirk began to invest heavily in the Hudson's Bay Company. At that time, its stock was only 20% of an earlier peak value, and the company was considered to be on the verge of insolvency. Selkirk hoped to gain sufficient control to be able to use the Company to advance his plan. His purchased reached nearly £40,000 at a time when the whole Company was worth £100,000. Selkirk's relatives and friends were appointed to the Board, and he took over control of the company.</p><p>

Also at this time, an Ojibway settlement was established at the junction of Rat Creek and the White Mud River near the end of the twelve-mile portage placed them in a strategic location which would provide them with work, and put the main highway of the North West at their front door. The village would eventually grow and become “Totogan”. After Treaty 1, is would be placed, against their will, into the “Portage Band” which was divided in 1876 in to three portions, one of which, of course is today’s Long Plain First Nation. [After Treaty 1, “the White Mud Band” would be relocated north to the west shore ofLake Manitoba. Today it is known as “Sandy Bay.”</p><p>
 
Selkirk also began a series of conferences with the First Nations to regularize relations between the two peoples. Although the Ojibway were more recent arrivals as contrasted with the longer established Crees, it was Peguis who assumed dominance in the negotiations, while the Cree were extremely reluctant to participate. As a compromise, it was suggested that settlement would be permitted by a 20-year lease, rather than a sale, with settlement limited to lands along the rivers. It was Peguis who persuaded the Crees to agree.</p><p>

The indenture appears above. Prominent on it is the mark of  Mechkadewikonaie,“Black Robe”.</p><p>


One of the persons who assisted in the negotiations was John Tanner.</p><p>
Thus it was that a Scotchman named Thomas Douglas, the 5th Earl of
Selkirk, known as “Lord Selkirk”, together with a “white captive” named “John Tanner”, and an Ojibway leader named Mechkadewikonaie, sometimes translated as “Black Robe”, were gathered on 17 July 1817 in what today is metropolitan Winnipeg to participate in an event that would play a strong role in the historical development of what became “the Long Plain First Nation.</p><p>
Lord Selkirk’s next objective was to bring in Catholic missionaries. He believed they would be a “civilizing effect” on the French-speaking Catholic Metis. It was not long before Protestant groups saw it necessary to have their own mssionaries in order to compete with the Catholics not only for religious objectives, but for control of the Red River Settlement. </p><p>

In 1820, the Church of England's "Church Missionary Society" sent the Reverand John West to begin missionary activity at Red River. The Hudson's Bay Company assisted by appointing West as "Chaplain to the Company." The Rev. Mr. West reported that his instructions were "to reside at the Red River Settlement, and under the encouragement and aid of the Church Missionary Society, I was to . . . endeavour to meliorate the conditions of the native Indians.”</p><p>

At this time, the Red River Colony consisted of some 650 persons of European origin, most of them either Selkirk settlers from Scotland and retired Hudson Bay Company employees and their families.</p><p>

The competitive missionary activity at this time began to divide the Red River Ojibway first into traditional and Christian factions, and then to further divide the factions further into Church of England and Roman Catholic factions. </p><p>

At this time, the natural world of the Ojibway was far different than today. Animals consisted of moose, whose hide was preferred for clothing; buffalo produced skins used for housing. The red deer were in herds in the parklands, the does producing two or three fawns each year. The "jumping deer" weighted 100 pounds dressed, and were found farther south. </p><p>

When rabbits were plentiful, the cats appeared, usually in an 8-10 year cycle. The cats were considered good eating. Black bear were not plentiful, and there were a few "Brown and Issabella" bear, and fewer still grizzlies. The beaver seem to have died off about 1800 from some disorder which attacked them throughout western Canada. There were martens, red and silver foxes, and an occasional black fox. There were badgers, otters, and mink.</p><p>

Birds included vast flights of wild pigeons and a small baldheaded vulture which did not venture north of the Assiniboine. There were three species of humming bird, the largest "no bigger than a walnut." There were swans, three kinds of geese, partridge."</p><p>

In 1821, the Hudson Bay Company and the Northwest Company merged and the trade war ended. British legislation was passed making the Europeans and the mixed-blood people who lived among them subject to British law, but the First Nations people were not affected.  A colony of Metis was established at St. Francis Xavier. </p><p>

The Rev. Mr. West set out on a tour to visit the First Nation population. He found them living in small groups widely scattered across the prairies. This was not a favourable situation for missionaries, who required a congregation who lived in one place the year around with children attending a school. This also meant the people had to develop an agricultural economy. This meant missionary activity created a tension with the Hudson Bay Company, which depended upon the Indigenous population being scattered about for trapping the furs which was the basis of the economy. </p><p>

By 1825, twelve Indian students were studying English and religion. Rev. West was particularly impressed by the “Half-breeds”, a term they used with pride to prove they had European blood unlike the “Indians”.  This group, he said, 
". . . are the uniting medium between us and the Indians: they speak their language, and are accustomed to their modes and habits of life...
Taken collectively, [they are] a very promising part of our community."</p><p>

In 1825, the growing Indigenous Anglican community was joined by an Englishman, the Rev. Mr. William Cochran.  He was assigned to work closer to Peguis’ village at a place known as “the Indian Settlement”.</p><p>

The move to settlements rather than living in scattered extended family groups was nearly fatal in the Winter of 1825-26.  There was unusually deep snow. The buffalo herds left their grazing area. Many hunters on the Prairies were reduced to starvation. The people of St. Francis Xavier and White Horse Plain survived by eating their dogs and horses. Missionary David Jones wrote
"News of the most deplorable kind arises from the plains: the Canadian Free-men have, for some time, been subsisting on their leather tents, parchment windows, buffalo robes, old shoes, etc. They have devoured all the carcasses of the horses, dogs, &c. that have died since the commencement of winter: it is further stated that the dead bodies of those that have perished have been eaten by their surviving companions."</p><p>
By the time Spring arrived, all the seed grain had been eaten. Then a great flood lasting until mid-June inundated much of the entire Red River Valley. Settlers saw their homes float away. Their cattle were stranded on high ground without feed. Some crops were grown when the water subsided. The winter of 1826-27 was also severe.</p><p>
In 1829, the Rev. Mr. Cockran moved his family to the "Grand Rapids" on the Winnipeg River (also known simply as "the Rapids") about twelve miles below the Upper Church.  Here on the west bank of the river he began work among a group of “Halfbreeds” who were not agriculturalists in any way. Cockran started to develop a small model farm. He also built a small school in a room adjacent to his log house, using the same structure for religious services. Cockran was the first of the missionaries to focus his efforts almost exclusively on the native population. Cockran did not find the work easy: "I am obliged," he wrote, "to be minister, clerk, schoolmaster, arbitrator, agricultural director, and many other things to this mixed and barbarous people. . ."</p><p>

By 1830, there were about 5,000 people living in that four-mile-wide strip along the Assiniboine and Red Rivers known as “the Red River Settlement. </p><p>
In that year, Rev. Cockran had decided he had to be present right in the midst of Peguis’ village if fhe was to be successful. But first, he had to obtain the consent of Peguis, who was initially quite suspicious of the proposal. As Cockran observed,
"The Indian has never met with a disinterested white man. He does not believe that such a being exists. All his dealings and knowledge of the whites have only deepened the conviction that they will cheat and take advantage in every imaginable way."
Rev. Cockran’s motives were to influence Peguis' people to establish an agricultural settlement and abandon their hunting life – two conditions he believed were necessary for successful missionary work. His plan was parallel to one of the Jesuits a century earlier: 
 "but meagre results could be obtained until the Indians were induced to lead a sedentary life. Their wandering habit nullified all attempts at permanent instruction to the young; it engendered improvidence and laziness, bred famile and disease; and the constant struggle to kill fur-bearing animals for their pelts rapidly depleted the game, while the fur trade wrought contamination in many forms." 
Rev. Cockran also saw settlement as the only way to protect the land from invasion by the settlers. By then, land in the Red River area was selling for ten shillings an acre. Speculators had already offered Peguis a keg of rum and three blankets for all of Sugar Point, which was over 1½ miles wide. The soil at Sugar Point was good, and the location was along the main Hudson's Bay supply route. </p><p>

Both to accomplish this objective and to gain admission to the reserve, Rev. Cochran promised to build houses for the Head men, to supply farm implements, and to provide personal supervision of the project. By settling as farmers, he said, they would eat well the year around and be well-sheltered in winter. His arguments were met with skepticism. </p><p>
The winter of 1830-31 was severe enough to cause Peguis to be more sympathetic to the idea, but the head men and spiritual leaders objected strongly. The winter of 1831-32 was even more severe, making Rev. Cockran's offer somewhat more tempting. But to make it work, Rev. Cockran had to start his farming project on a nearby piece of land which was a traditional Ojibway ceremonial ground.  But before he could begin, he had to wait for the traditional fish ceremony to take place. Rev. Cockran was invited to attend. He later scornfully wrote in his journal that the sides of the ceremonial tent were decorated with brightly coloured cloth. He compared the expense of buying the cloth to his own Anglican services:</p><p>
"They were giving what they could ill spare in order to be told a lie; while to the truth, which they might have had without money and without price, they would not listen." </p><p>
Rev. CocKran saw the dancing as mere "shouting and running around the tent." Because the dancers had rubbed fish oil on their skin, Cockran found the odour more than he could take and he left before the ceremony had finished.</p><p>

The Rev. Mr. Cockran named his new location“St. Peter’s”. He was able to persuade only Peguis and six others to even partially engage in full-time farming. Rev. Cockran complained that when the weather was bad, the Ojibway “farmers” stayed in their tents, when the weather was good they went fishing and hunting.  Cockran himself and his hired servants had to do most of the labour. </p><p>
Cockran was not impressed with the Ojibway women, either. They were "dreadfully given to gossiping, whoring, and lieing . . ." The only way to save them, he said, was to make them industrious, which alone "can recover them from their evil ways and establish their minds in virtue."</p><p>

Cockran was also terrified by information given to him likely as “an Indian joke” – that one of his helpers was a cannibal who had eaten nine bodies. Nonetheless, hired help was hard to find, and the man finished his summer assignment with Rev. Cockran. He wrote in his journal that he could only persuade his work crew to put in brief intervals, not more than an hour at a time. He despaired when they would stop for a smoke or to talk. </p><p>

By the end of the summer of 1832, Cockran and crew had completed three rough buildings: one for Peguis, one for his brother Red Deer, and a third for himself and his assistants. As history will show, Red Deer became a chief at Brokenhead, but never became a Christian.  </p><p>
There had been a small but successful crop of barley. Four of the seven workers held a feast and ate all their share of the barley. Only Peguis and two others saved their share for the winter. </p><p>
Elsewhere in 1832, a child who would become known as Chief Yellow Quill was born, A new HBC post was established near Portage to replace Brandon House. </p><p>
1832 was also the year Rev. Cockran arrived at the conclusion that the
Hudson's Bay Company was opposed to Indian settlements, since settled Indians were not likely to do much fur trading. He was worried that some of his missionary reports would be seen by Hbc, and they would realize that his St. Peter’s Settlement was “for Indians”. He wrote the Church Missionary Society which was paying his small salary, 
"It would be inimical to the cause to publish any extracts [of my reports] which would lead the Directors of the Company to conclude that I am attempting to make a pure Indian Settlement . . . The evangelizing of the heathen will militate against their trade, and prevent them gathering filthy lucre by handfuls . . . Benevolent schemes have always been received with coolness, delayed as long as possible, and when set on foot, treated with such indifference, scorn, malevolence as to ensure failure."</p><p>

He asked the Society to “not give any publicity to my plan. . . We have natural difficulties to contend with, sufficiently great to break the spirits of the most determined. Do not increase them by pointing out my march to the enemy."</p><p>

Soon Swampy Cree people from the north moved into Cockran's mission operation, and it was not long before there were more Cree than Ojibway. In the summer of 1833, Cockran's work crew increased from six to fourteen, but apart from Peguis himself, all the others were Cree. </p><p>
Rev. Cockran decided to concentrate his energies on setting up a new Cree settlement. He built a large school, but in his journal he complained that parents exercised little discipline over their children, and did not appreciate it when others imposed discipline. Attendance at the school was sporadic, and even then, seemed more related to a noonday meal, warm clothing, and a bribe to the parents in the form of a quart of flour for the children to take home each afternoon rather than the desire to learn.
Rev. Cockran wrote, 
"If we had the same number of the wildest birds of the forest let loose in a room, we should not find it more difficult to move among them. They run in and out, learn or play, according to their pleasure; quarrel with one another, and always seek to settle their quarrels by the knife or the bow and arrow. To assume anything like authority would be to drive them away."</p><p>
By 1837, however, Rev. Cockran had come to understand there was some wisdom to maintaining loose discipline. He wrote in his Journal for November 26, 1837 [cited in CMR for 1839, p. 30], "... they cannot endure the same confinement and close application as Europeans. 
They are frequently seized with a peculiar malady which they call "thinking long". When under the influence of this, if you cannot amuse them, and make them take exercise, they soon sicken and die. At the Indian settlement, our discipline is very loose. We allow the children to hunt and fish whenever they are disposed, and I think we have greatly diminished the fatal cases by it."</p><p>
The work of the Anglicans with Indigenous children caused Bishop Provencher to move into Catholic mission work with the Ojibway lest they all become Anglicans. The year after his arrival, Father Belcourt was ready to establish his mission on the north bank of the Assiniboine river near the present Portage La Prairie, intending the mission to be for the Cree. He hoped to build a chapel and farm, gathering the native people to live around him. Governor Simpson was asked to lend support of 30 pickaxes and the ironwork for a plough. </p><p>

In April, 1833, Belcourt moved to the new mission but found the area was then inhabited by the Ojibway, of which most had left for the buffalo hunt. Later he found the Ojibway considered the site too exposed to attack from the Plains tribes, and they refused to remain there.</p><p>

Father Belcourt therefore withdrew to a place 18 km. west of St. Francois to establish his mission of St. Paul des Sauteaux, better known as Baie St. Paul, where he was given a lot of 29.5 acres by Governor Simpson. By then he had conducted 72 baptisms. The parishioners preferred to hear Belcourt preach in Ojibway, which they understood better than French. </p><p>

Like Rev. Cockran, Father Belcourt maintained that only a radical cultural adaptation to an agricultural way of life would prepare the Ojibway "to receive the word of God". He was convinced, therefore, that he must induce the

Ojibway to live in a settled village where they could be instructed in the Catholic faith. He insisted on building a combination chapel and school house, laid out a village, began a farm, gave out seeds, and encouraged the Ojibway to establish farms near him.</p><p>
Bishop Provencher was not convinced by Father Belcourt’s argument. The Bishop asserted that evangelization could be pursued without any preliminary changes in the way of life of the Ojibway, reiterating Bishop Plessis' earlier instructions that the sole duty of the missionary was to evangelize. The priest should follow the Indigenous people on their rounds, visit them when they gathered in large numbers to trade or fish, preach to them at these sites and instruct them in the faith. </p><p>

Bishop Provencher also understood the special circumstances of the missions in his diocese. Agriculture was  not really viable as a way of life in the West at that time, even for those long accustomed to it. Further, it was not advisable to attempt the change because the well-being of the HBC depended on the furs and provisions supplied by the Indians and Metis, and the well-being of the missionary often depended on the HBC. Finally, it was less costly to be an itinerant missionary. </p><p>

Father Belcourt's plan, of course, was more appealing to any missionary because it offered more control of the evangelization process and of the enforcement of Christian morality in the daily life of the new Christians. As it turned out, the Ojibway who checked out Father Belcourt’s new mission did not stay for long, and Metis expanding out of St. Francis Xavier took over their lands in the Belcourt mission. </p><p>

It was during this time that Black Robe passed on. He was succeeded by his son, Peequawkeegan.  Remember the name: it will soon reappear in this history.  Pequakeken received with the chieftainship such presents as had been made to his father: some ammunition and tobacco, given both as a reward for good conduct “and use of our lands.” Later it was suspected that Peequawkeegan had a a hand in the murder of a Sioux man at Fort Garry, the presents were withdrawn.</p><p>

In 1851, Rev. William Cockran finished the construction of the stone St. Peter’s Church, built mostly with Indigenous labour, who had to haul the stone some six miles. </p><p>
It seems that Rev. Cockran was also looking for a change. Or expansion, maybe. After an exploratory visit to Portage la Prairie in 1851, he
". . . sent tobacco to the principal Indians who wandered over that quarter to meet me at certain places in the month of May. . . I went in June to [Portage la Prairie] and fixed on a location and contracted for a schoolroom.
Later, Rev. Cockran  reported entering into an agreement with Peequahkeekan, Black Robe’s son, for land at Portage la Prairie in 1851.  The agreement was that Rev. Cockran "purchased" or leased from Chief Pequakekan the point of land and the Island on which the City of Portage la Prairie now stands, the price being paid in goods.</p><p>
	"The settlers were to have all the bush land lying within the extensive southward curve of the Assiniboine River, and as much of the adjoining prairie as they might need for cultivation, pasturage and hay. In return, a payment of a bushel of wheat from every settler was to be made, an agreement which was duly honoured."</p><p>
The transaction would seem to indicate that Rev. Cockran recognized “Indigenous Title”. On the other hand, the transaction took place outside the requirements of the Royal Proclamation of 1763 which specified that such land transactions could be made only the Crown. </p><p>

A number of English Half-breed parishioners from St. Andrews with their families accompanied Archdeacon Cockran to form the nucleus of the new parish in 1853, including Peter Garrioch, William Garrioch, John Garrioch, Fred Bird, Charles and Martin Cummins, Gavin Garrioch, John and Henry Hudson.  </p><p>
Although the Portage Centennial in 1967 celebrated the "first white settlers who founded Portage," the fact is that Portage was formally founded and settled by English Half-breeds and Ojibway. The only European there was the missionary, Archdeacon Cockran.
A Petition from Portage La Prairie, July 25, 1853, to the Church Missionary Society stated:</p><p>
"Your petitioners have been residing at the Portage la Prairie for nearly two years, that it now contains a population of 213 souls, Indians and half-breeds . . . Your petitioners are of opinion that the Portage la Prairie affords many facilities for and promises ere long to become an extensive Missionary station, it . . . having a goodly number of Indians around who are really willing to give  up their native habits and adopt those of the civilized man, and who are anxious that a praying master should be sent to them. . . 
"The Roman Catholics have for some time had their eye on this place, and they have now promised that if twenty families of their persuasion will settle here, they shall have a priest. We fear the results, as we know too well the paralysing tendency of Popery."</p><p>
<h4>SIGNED:</h4></p><p>
Maskagoo (*Muskeego = "Swampy Cree")
Paketahoond (brother-in-law of Peequahkeekan who was the son of
Black Robe. This man could be "Puhkiteoon" on the list of
"Indian families of Portage la Prairie at the time of the
Archdeacon's arrival." (Others on the same list are marked here below with an asterisk.)
Necannechewan (*Nikanjiwan = "Before The Current")
Capayontang (*Kepeyutungh = "Staying By It Always")
Cahwetawaywetang (on 1872 paylist, but not 1888)
Kehtochean
Moessons (on both 1872 and 1888 paylists and on the notice on the Church Door) (Moosoos?)
Missahkut
Ohskennahwaysh
Nahcanwawetang
Appotoweccecekwap & several other Indians as well as many halfbreeds.</p><p>

It is interesting to note that apparently knowing the Church Missionary Society was only interested in the evangelization of “Indians”, only “Indians” signed the letter to the Society.</p><p>

Archdeacon Cockran wrote in support of the petition,
"The Indians and settlers have therefore lived in the hope of soon seeing a
Missionary placed among them and they have prepared all the timber for a Church and a grist-mill." 
A log school building was erected on the north side of the river road, close by a bluff on the banks of the river, where Rev. Cockran had his home. The Archdeacon's son, the Rev. Thomas Cochrane (he spelled his name differently than did his father) ran the school. Later, a new school was build near the centre of the village. 
The Portage petition had been opposed by HBC Governor Simpson, on the ground that scattered settlements would make the government of the colony difficult. 
Others of the "Indian families at Portage la Prairie at the time of the Archdeacon's arrival" who did not sign the petition were:
Pacheeto (Pechito), about whom more will be written later.
Atakawinin ("The Gambler", Pechito's son)
Pinesiopee ("Thunder Water"). The site of his house is now covered by the Portage General Hospital. Kichchiwees ("A Large Tent")
Machihkiwis ("The Evil One")
Keeneswa ("Cut To A Point")
William Peechee ("Something Moving")
Puckakoose
Paswain ("Oily")
Manapit ("Ugly Tooth")
Wisikun ("Sour")
Keekooses ("Little Fish")
Oosaochit ("Yellow Anus")
Missisikakoos ("Big Little Skunk")
William Cochrane
Kwingwahaka ("Wolverine")
Moosoos ("Moose Calf")
Kihchipines ("The Great Bird")
Ookimawinin ("The Man In Power")
Aindibeyhting ("Sitting Firmly By It")
William Hodgson Weescoop
Of these, at least Weescoop and Kichipines (Ketchipenais) were later Treaty members of the Sandy Bay Band.</p><p>
It was recorded in 1854 that at Cockran's mission at Portage,
"There are at present ten houses in which live 16 families, in number 112 souls, and seven Indian tents, inhabited by ten families, altogether 33 souls. The Indians have their tents nearly all together, the houses of the settlers are some distance from each other, stretching for about three miles along the margin of a kind of lake which Mr. Cochrane calls the ancient channel of the Assiniboine." The half-breed settlers of Portage "prided themselves in being able to speak to their Saulteaux neighbours in their own language or in the Cree . . . and a knowledge of either of these dialects enabled them to converse readily with the French half-breeds as well."</p><p>

An epidemic of diphtheria struck the Portage settlement in the 1850s with disastrous effects on the lives of the children.</p><p>

Archdeacon Cockran moved permanently to Portage la Prairie in 1857, ending his service at St. Peter's.  At Portage Cockran organized a Council on the model of the Assiniboia Council – a president, a secretary, a magistrate, and two constables.</p><p>
In 1858, the Archdeacon established a mission school for the Indians at the west end on what was known as the "Mission Farm". Malcolm Cummings was appointed teacher of the day school, about 65 yards from the brick and stone Indian school later constructed by the government [and which today is Yellow Quill College.] Sunday afternoon services were held there "for the benefit of the Indians". About thirty Indians attended the service, and an equal number of children attended the day school. A hot meal of barley soup and pemmican may have encouraged attendance.</p><p>

By this time, Chief Peequahkeekan, Black Robe's son, had died, and the Hudson's Bay Company recognized Oozawekean (Yellow Quill) as chief.</p><p>

Enter Paketayhoond, who said he was Peequakeekan’s brother-in-law (meaning that Paketayhoond was married to Peequakeekan’s sister.  Paketayhioond is also writen as “puhkiteoon” meaning "stricken" -- he had a hump over his right shoulder blade.
Note above that Paketayhoond's name appears on the 1853 Petition as a member of Archdeacon Cockran's parish.</p><p>
According to a letter from Paketayhoond published in the Nor'wester newspaper of May 14, 1860, saying that Andrew M'Dermott of the Hudson's Bay Company had offered him the chieftainship. Paketayhoond wrote that he had accepted the HBC appointment, providing that a new medal be provided to him as he did not want to take Pequakekan's away from him. In other words, Paketayhoond was claiming that it was he, not Yellowquill, who was the Chief appointed by the HBC. </p><p>

According to the St. Mary’s Church records at Portage la Prairie, Paketayhoond died in 1868. </p><p>
All of this would have an impact on the creation of the Long Plain reserve eight years later in 1876.</p><p> 
A historical fast forward. </p><p>
In response to all the political and demographic changes going on about them in 1867-70, Yellow Quill and his people protected their lands against the influx of Eurocanadian immigrants. When settlers attempted to take over lands southwest of Portage la Prairie at Rat Creek, Yellow Quill and his people drove them off. </p><p>

As Lt. Gov. Alexander Morris would later write about it, "They asked to be paid
$3 per head or $1 per year for the following transactions. In 1868, a number of Ontario farmers had settled on Rat Creek. Yellow Quill's Band drove them off and trouble was impending. Governor McTavish sent Mr. McKay up to arrange the difficulty in anticipation of the advent of Canadian power. He made a lease for three years of their rights, assuring them that before that time, the Canadian Government would make a Treaty with them and recognize the temporary arrangement, and in consequence, the settlers were unmolested.”</p><p>

According to an 1869 article in the Toronto Globe, Chief Yellowquill made it known he was “fully expecting that some arrangements will be made with us before the expiration of the three years about our lands.”</p><p>
As tensions about what was going to happen to as the result of Confederation and settlement activities, on May 30, 1870, Yellow Quill and his Council issued a declaration outlining the First Nation's position that must be taken into account. James McKay again was sent out to try to calm Yellow Quill's people. This declaration added to the need that Treaty Commissioners be appointed.</p><p>



A notice was posted on the door of St. Mary's Church in Portage la Prairie on December 17, 1870:</p><p>
"To all whom it may concern:
Where as the Indian title to all lands west of the Fifty mile boundary line at High Bluff has not been extinguished & whereas those lands are now being taken up & wood thereon cut off by parties who have no right or title thereto,
"I hereby warn all such parties that they are infringing on lands that as yet virtually belong to the Indians and do hereby call on them to desist, on pains of forfeiting their labour.
	Witness: Fred A. Bird	Moosnos, his mark
A note in the file explained:
"The Chief complains that people come and cut wood without leave and permission and that it is not right. That the woods belong to the Indians, and it seems to them that the people are stealing. That in the smallest bargains, an agreement come to between parties, but here there was none, and he would like to have some understand about it.
"The Chief says that most of the tribe are out on the hunting grounds and that he was left in charge, and that it is not right to cut their wood without even consulting them.
Yellow Quill's people again became concerned about the invasion of squatters on their lands. 73 principal men met in Council on May 30, 1871, and sent a resolution to Lieutenant Governor Archibald:
"We this day and for the future or until such a time that a treaty be made with us are determined to stand by what we pass at this Council.
"It's true that the Settlers do not look at us in the light they ought to. At this time, we are thinking a great deal of whow they have treated us, & how they are treating us at present. Why we think so much at the present time is, because they come about searching our tents and carrying our people away to other lands, where we think they have no business with us at all.
"We resolve at this Council that if any of our people are taken by force from amongst us, that there shall be paid to us the sum of five pounds Sterling for so doing. Also for every day that he is detained we require for him the sum of one pound per day -- or if he should be imprisoned, we demand the sum of five pounds per day for every day he is retained in gaol.
"Why we pass these resolutions at our council held today is because that we never have yet seen or received anything for the land and the woods that belong to us, and the settlers use to enrich themselves. We might not have felt so hard at the present time [if it were not for] the usage we have received of late. [We] had never received remuneration for the said lands & woods that rightly belong to us, so we feel fully justified in passing these laws amongst ourselves and for our own protection.
"We feel sorry to have to express these resolutions at our Council today, but stern necessity compels us to do so. We always thought & wished to be [friendly to] you, bue can now see that you look upon us as children & we feel that you're treating us the same.
"What was said last fall by the Governor we still remember all -- we were promised by Governor Archibald that we should be [treated] early this Spring and that there should be a law for the White Man and a law for us, and that we should assist in making that law."
Signed Yellow Quill, Chief
Tietepeetung
Moosose
Shoooub
When a spring treaty meeting did not occur, Yellow Quill and his Council on June 14, 1871, posted a notice on the church door in Portage la Prairie, addressed to the pastor, "Joseph Garrioch and public". It gently warned the settlers their situation was precarious if an agreement with respect to the land they occupied was not concluded with their government. The notice read:</p><p>

As you have encroached somewhat on our rights, both from one side and the other, we have thought it proper to say a few words.</p><p>

We are expecting to see something done every day, and therefore we wish nothing to disturb as for the present. This land that you are wanting to take without our permission -- don't you think the government would ask you how did you get it?</p><p>

Why we speak today is because we are poor, but we still hold the land for our children that will be born afterwards.</p><p>
When we speak first, we speak softly, but when we speak again, we will speak louder.</p><p>
We hardly need say that this alludes to an attempt that has been made to claim and occupy lands that does not yet belong to them, for they know that we have not yet received anything for our lands; therefore, they still belong to us.</p><p>
We now beg of you, one and all, to give us no more trouble until we are spoken to by the person with whom we expect to treat with.</p><p>
We think well to advise the settlers who are now on claims to keep them and not sell them yet. We don't say we have already given you these lands, but allow you to remain on them."</p><p>
Signed: Yellow Quill
I-be-be-pee-tang
Zhoo Shou
Moose Orise
</p>
 
<h3>TREATY ERA 
</h3>

<p>The First Nation and reserve was created in 1876 after the signing of the adhesion to Treaty No. 1 of 1871. The people who did locate themselves at Long Plain after 1876 were not before that time an independent First Nation community. The style of living prior to Treaty did not require fixed communities,  nor were their fixed “memberships” for the various communities.  We refer our people as a tribe, a group of distinct people existing before development, with a leaders and advisors, Strictly speaking, prior to 1876, the First Nation today known as “Long Plain” was not located at “the Long Plain”. </p><p>

On August 3rd, 1871, Canada’s representatives Adams G. Archibald, Lieutenant Governor of Manitoba and Northwest Territories, James McKay P.L.C. and Wemyss M. Simpson, Indian Commissioner and the Ojibway nation occupying the southern portion of what is called the Province of Manitoba signed a peace and good will treaty known as Treaty No. 1 at Stone Fort, otherwise called Lower Fort Garry. </p><p>

 
  Stone Fort also called Lower Fort Garry 

At the time of the Treaty making era, Chief Yellowquill represented the Ojibway First Nation in the Portage la Prairie, people that were paid at Treaty or on the paylist sometimes were referred to as “the Portage Band”. Chief Yellowquill was recognized by the Crown Representatives as the leader of the Ojibway First Nations Chiefs and  signatory to the Treaty No. 1. There was three branches of the Portage First Nations which were formed by Yellowquill’s, White Mud River and Keeskeemaquah’s Bands. </p><p>

And so it was that Treaty was to be negotiated at the Stone Fort, the Lower Fort Garry. The day set to open negotiations was July 26, but as that day arrived, few First Nations were present, and they said they were not ready to begin without the others. Later that day, many more First Nations arrived. Over a thousand Indians were present, including Yellow Quill, who said he had a thousand members, of whom 326 – nearly a third of the total – were actually present. </p><p>

Among the groups not present was Chief Nanawatchekapow’s people from White Mud River (later to become Sandy Bay). The Band had been located in the area for fifty years or more, and included some persons related tothe St. Francois Xavier and Baie St. Paul communities. They lived in anestablished farming community situated on the southwest shore of LakeManitoba. Later, they would be included in the paylists of “the people paidat Portage”, sometimes referred to as “the Portage Band”. </p><p>

When the dust had settled after the Treaty discussions, Yellowquill and his people believed that it had been agreed they would be getting a reserve with a boundary which had Eagle's Nest (N.W. 1/4 Section 24 TWP 9R 10 WPM) as the starting point, extending from there fifteen miles to the West and fifteen miles to the East, five miles to the North, and 25 miles to the south, comprising a total of 460,000 acres or 4.3% of the total area covered by Treaty 1. But only hours passed before it was evident that there were disputes about what had been negotiated and what appeared in the Treaty document. </p><p>

There were disagreements not only between First Nations and the Crown’s representatives, but also among the representatives. The written Treaty provided, among other things, that there would be set aside "for the use of the Indians of whom Oo-za-we-kwun [Yellow Quill] is Chief so much land on the south and east side of the Assiniboine River, about twenty miles above [meaning upstream from] the Portage, as will furnish 160 acres for each family of five or in that proportion for larger or smaller families, reserving also a further tract enclosing said reserve to compromise an equivalent to 25 square miles of equal breadth, to be laid out around the reserve." What Yellowquill and his people believed was that they had received a 25 mile square belt, with the farming reserve added to an inside the belt. A 25 mile square is 625 square miles. 25 square miles is just that – 25 square miles.</p><p>

On September 7, 1871, the second payment of Treaty was made by Commissioner Simpson and Molyneaux St. John "to the Portage Band, Yellow Quill chief," at Portage la Prairie. There were 105 heads of family paid, 28 by leaving the money with the Hudson's Bay Company. There were 447 persons. Among them were Nº 78, Nahweechewaykahpow, Chief of the White Mud River Band, although there is nothing to distinguish him and his people from Yellow Quill's people.</p><p>

In the summer of 1872, the “Portage Band” refused to accept their annuity payment because of their dissatisfaction with the administration of the terms of the Treaty as they understood it. In September, however, the payments were accepted by "Portage la Prairie Band, Oozawequan, Chief", at Portage la Prairie.</p><p>

In the summer of 1873, the government of Sir John A. Macdonald was forced out of office because of a scandal connected to the building of the Transcontinental Railway. That same August, surveyor William Wagner received instructions dated 13 August 1873 to make a "plan of Indian Reserve on South and East Side of Assiniboine River of which Ooza-wekwun [Yellow Quill] is Chief.</p><p>

The reserve surveyed pleased nobody. First, it was too close to Portage la Prairie and Ottawa “wanted the Indians out of town.” Second, the reserve did not include Eagle’s Nest as Yellowquill’s people had insisted. Third, the reserve was much smaller than that which Yellowquill’s people believed they had agreed to. Fourth, the Surveyor General of Canada said the reserve wasn’t where it was supposed to be. In his survey report, Wagner said he had not seen it to be necessary to consult with Yellowquill nor any of his people. He defended his choice, saying the reserve “was well adapted for an Indian.”</p><p>

It was in October of 1873 that there was the first documentary indication that in addition to the separation of the White Mud River group from Yellowquill’s paylist, In a report to Indian Commissioner Provencher, it was said:</p><p>

"Another party in the Band desire to secede, taking for their Chief the grandson of him who was in times past the Chief of the whole Band. I have not as yet thought it wise to give them any encouragement in the belief that their wish will be granted.”</p><p>

In 1874, Chief Yellowquill had a four-hour meeting with the Lieutentant Governor. A variety of grievances was discussed, including the location of the reserve. Consequently, another surveyor, Roger Goulet, was sent toPortage la Prairie. Yellowquill took him in his buggy to the place where the 25 mile x 25 mile reserve was supposed to be at Eagle’s Nest. Goulet sent the information to Ottawa, commenting that the soil at Eagle’s Nest was not as good as on the Wagner reserve, but “I think it is a large hunting ground that they want to have.” Nothing really happened to resolve the issue.</p><p>

Then on 22 July 1875, Lieutenant Governor Morris and James MacKay went to Portage to "settle the long-pending dispute" about the reserve for the First Nation of which Yellow Quill was chief. They proceeded to the Round Plain on the River Assiniboine where they met with 500 Indians on July 26. Morris wrote several accounts of the meeting, with some contradictions: </p><p>

"This Band, as you are aware, has always been dissatisfied and have been difficult to deal with. I found them in an intractable frame of mind, and the difficulty of the position was enhanced by a division among themselves. </p><p>

The original chief of the Portage Band was Peequakpeekan, who was a party to the Treaty with Lord Selkirk. Unfortunately, that information is incorrect. The party to the Treaty was Black Robe. Peequakpeekan was the son of Black Robe.  Morris proceeds with his account.</p><p>

". . . Yellow Quill was appointed chief by the Hudson's Bay Company ... The grandson is now grown up and has returned from the Plains where he has been and claims to be recognized as an hereditary chief, and about half of the Band have followed his lead. After we had been in conference some time, an Indian rose, and told us that when the chief of the Portage died, he charged him to keep the land for his son, and that they wished a Reserve at the Portage.</p><p>

"Another rose, and produced Peequahkeekauskun's King George Medal, and said the chief had placed it on his keeping, and charged him to deliver it to his son when he was old enough to be a chief, and then placed it round the neck of Kekeemahquah, or the Short Bear. They then asked that I receive him as a chief in place of Yellow Quill.</p><p>

"I told them that could not be done, that Yellow Quill must remain a chief, but that I would report their request on behalf of the Young Chief to the Government at Ottawa, and let them know their decision, but that they could get no Reserve at the Portage as only that mentioned in the Treaty would be given and with this they were satisfied.</p><p>

"The conference then went on, the two parties sitting apart and holding no intercourse with each other. [Morris’ “Treaties” account adds: "Yellow Quill wanted the reserve
assigned in one locality, while the adherents of the Bear said thatlocation was not suitable for farming. They wished the reserve to be placed at Round Plain, where they had already commenced a settlement.]</p><p>

“Keeskeemahquah may have come back from the Plains, but the Treaty pay lists show he was also present as a member of Yellow Quill's band at Treaty signing in 1871. Note that there was no desire expressed to separate into two bands, but rather an internal disagreement as to the location of the proposed reserve. Inherent in the disagreement on location is the fact that “the farming reserve” was much smaller than the “hunting reserve”.</p><p>

"I spent two days with them, making no progress as they claimed that a Reserve thirty miles by twenty was promised them as shewn in the rough sketch enclosed made at their dictation and marked 'A'. I produced the plan of the Reserve as proposed to be allotted them, containing 34,000 acres [presumably the Wagner Reserve], but Yellow Quill said it was not in the right place, and was not what was promised, and moreover it was not surrounded by the belt of five miles mentioned in the treaty, but was only partially so, and did not cross the river. I told them they could get no more land than was promised in the Treaty.</p><p>

"They appealed to Mr. McKay whether the Reserve was not promised to be on both sides of the river, and he admitted that it was [emphasis added]. I told them it was not so written in the Treaty and that if the Government should allow it to cross the River, the rights of navigation must be conserved, but I would consult the Queen's Councillors. They replied they would go to the Grand Father and get him to intercede for them, meaning the President of the United States, as I afterwards discovered, an American Indian having persuaded them to take this course. </p><p>

"They refused to discuss or accept anything until the Reserve question was settled, and while I was speaking on the afternoon of the second day, Yellow Quill's Councillors went away, left him alone while he followed. I then left the Council tent, leaving word that I would depart in the morning.</p><p>

“. . . I may mention here that Yellow Quill reproached his councilors for their conduct. He also informed Mr. McKay privately that he could not act otherwise as he was in danger of his life from some of his own braves. He was guarded all the time by a man armed with a bow and steel-pointed arrow. </p><p>

[Treaties says, "The Chief Yellow Quill was apprehensive of his own followers and besides, the danger of collision between the two sections was imminent."] "I promised to state their claims as to the Reserve, but told them it would not be granted, but that I would change the location of the reserve, as it had been selected without their approval, and would represent their view as to its locality and as to crossing the River, the navigation of which, however, could not be interfered with.</p><p>

“. . . Eventually, they cheerfully agreed to accept the $3 annuity as usual and to defer a final adjustment on the question between us until next year, and promised to accompany anyone I sent to select the Reserve and agree on its locality. </p><p>

His apprehensiveness was not about those who shared his ideas about the placement of
the reserve, but rather about the followers of Short Bear, who at that time, strictly speaking, remained followers of Yellow Quill. No mention was made about the surrender of the Wagner Reserve, which, having been set apart for the use and benefit of Indians outside of the operation of the DominionLand Act, was indeed a reserve within the meaning of the Indian Act.</p><p>

[Treaties gives a much different tenor: "The Commissioners finally intimated to the band that they would do nothing with them that year, but would make the customary payment of the annuities under the original Treaty and leave them 'till next year to make up their minds as to accepting the new terms, to which the Indians agreed."]</p><p>

"They again thanked me for my kindness and patience with them and I took leave of them. I regard the result as very satisfactory, as I left the band contented and you are aware of their intimate relation with the Plain Indians and the difficulty their messenger to Qu'Appelle [referring to The Gambler’s attendance at the negotiations for Treaty Nº4] that the white man had not kept his promises, caused us there, and it is very important that they should be satisfied. [The Gambler was a prominent member of the portion
which followed Yellowquill.]</p><p>

". . . I would now make the following recommendations: 1st: that you should write Yellow Quill declining to entertain his demand for the large Reserve, but offering to them a Reserve including the Eagle's Nest, on the side of the River, and laid off in the terms of the Treaty, with the land comprised in the 160 acres for eachfamily [emphasis added] surrounded by the belt mentioned in the Treaty, in the manner suggested in the enclosed rough sketch "B", reserving the right of navigation and access to the River. The land is of inferior quality to that already offered them. </p><p>

"2nd. I would propose that the Young Chief should be recognized as head of the section of the Band adhesing to him. He and his section are ready to accept the terms of the Reserve as described in the
Treaty. They behaved very well, and told Mr. McKay that they were glad I had not recognized them, as it would have led to bloodshed,and that they would be content if the recognition came when the Reserve was settled. The Young Chief is an intelligent well-disposed man, aged about 26. </p><p>

"3rd. I would propose that the White Mud Indians who live there constantly should be recognized as a distinct band and should elect a chief.</p><p>

Short Bear's faction had made it clear they wanted land near to Portage, and Morris isrecommending Yellow Quill get a Reserve at Eagle's Nest. </p><p>

"4th. I would recommend that arrears due to Indians who have not yet received their annuities should be paid in full at once, but that a period of two years should be fixed for those bona fide members of the band to come in and be paid and that after that they should only receive one year's payment."If these steps are taken, I think we shall have no more trouble with these Indians.</p><p>

"5th. I think that the claim of the Indians as to the three-year's lease is one that ought to receive consideration under the circumstances. The White Mud section have no interest in it and the case was avery important one.</p><p>

"In conclusion, I have to express my obligations to the Honorable Mr. McKay for the valuable services he rendered me. The Indians told me that they would not have come into the Stone Fort Treaty but for him, and I know that it was the case." </p><p>

When he filed his report, Morris wrote that because of the disagreement over the location and size of the reserve,

". . . the Portage Band has refused this year to accept the increase of the annuity tendered to them. Through their Chief, they positively refuse to make the least change to the Treaty before the settlement of this question of Reserve. As it is not probable that any applicationshall be made before several years for the lands which have beenappropriated for that purpose, it has not been thought necessary to hasten their decision." </p><p>

"The majority of the Portage Indians live by hunting and fishing, the produce of which is sufficient to afford them a comfortable living. The settlements have not driven away the game for which that part of the country has always been noted. . . </p><p>

"Some few other families already own eight houses to the southeast of the Portage, and bid fair to give themselves entirely up to agricultural pursuits. They also ask to be separated from the partyhaving Ozooquan the present chief. Though their reasons are not so disinterested as those of the White Mud River party, and that there is a light show of personal ambition on the part of those who would like to become the Chiefs of the new Band, their demands claim some attention since the Chief has shown himself so averse to accept for his Tribe the advantages offered by the Government."</p><p>

Yellow Quill's acceptance of a temporary "lease" prior to Treaty allowed the Ontario farmers to gain a foothold in the Portage area, building up strength which would allow them to predominate in the founding of the new province at the expense of the Metis and Catholic interests.</p><p>

On October 4, 1875, Interior Minister Laird wrote Lt. Governor Morris he was "very much gratified to learn that you are willing to give the Government the benefit of your valuable service for the purpose of renewing negotiations with that [Portage] band this year."</p><p>

"The subject of Yellow Quill's demand for a large reserve is . . . under consideration of the Surveyor General now at Manitoba, and the decision on the subject must, I think, be postponed until a report from that office has been received." The Minister states the decision on the Short Bear and White Mud separation and reserves is to be deferred for a year. Annuity payments were to be made only to Indians "who took up permanent residence."</p><p>

In October, 1875, Morris and Provencher, accompanied by James McKay, set out to visit various communities and their Chiefs to obtain acceptance of the proposed revision of the Stone Fort Treaty. They first went to St. Peter's, and then splitting into two parties, to the other First Nation signatories to Treaty Nº1 and Treaty Nº2. The revised Treaty was signed by the chiefs with whom meetings were held. By plan, Morris and Provencher did not go to the First Nation of which Yellow Quill was chief, "who were not summoned to any of the conferences, a fruitful source of dissension and difficulty. . . This band had always been troublesome."</p><p>

In the 1875 Annual Report on Indian Affairs, Indian Commissioner J.A.N. Provencher commented on the Short Bear/Yellow Quill division:</p><p>

"Some attempts have been made during the year to obtain the division of certain Bands, the members of which, for several reasons, said they could no longer remain under the same chief . . . at the Portage, it isthe diversity of interests and customs that seem to call for a separation. Those who feel inclined to devote themselves to agriculture are thwarted in their designs by the other party who wish to resume the old way of living by hunting and fishing.</p><p>

"They first need some encouragement in the shape of agricultural implements, seed grain and money to assist them during the period of their farm labours. The others, on the contrary, can give up everyadvantage to obtain a Reserve of such an extent as to enable them tocontinue their usual mode of life. When the population shall have increased to a sufficiently large figure and circumstances will allow of it, I do not think it would be inopportune to allow the interested parties the privilege to form a separate Band if it is self-evident that it is to their advantage and that they cannot continue to form part of the same band without prejudice to their own interests."</p><p>

". . . Some few other families already own eight houses to the southeast of Portage, and bid fair to give themselves entirely up to agriculturalpursuits. They also ask to be separated from the party havingOzooquan the present Chief.</p><p>

"Though their reasons are not so disinterested as those of the White Mud River party, and that there is a slight show of personal ambition on the part of those who would like to become the Chiefs of the new Band, their demands claim some attention since the Chief has shown himself so averse to accept for his Tribe the advantages offered by the
Government."</p><p>

In his own Annual Report for 1875, the Minister of the Interior referred to the dispute over the Yellow Quill Reserve.</p><p>

"In the solitary case where a band declined the proposal [by the Government with respect to the Outside Promises] the refusal arose not from any dissatisfaction at the terms, but in consequence of a dispute in reference to the Reserve to which the band thought themselves entitled. This difficulty will, it is hoped, be satisfactorily adjusted next season, when the band will, no doubt, give in their adhesion to the new arrangement.</p><p>

Lt. Gov. Morris was in Ottawa in the spring of 1876. While he was there, on April 21, 1876, Interior Minister Laird wrote him a letter. He had accepted all of Morris' recommendations of August 2, 1875, with the exception of the question of separate band status for the White Mud River people. That question would be left to Morris' discretion. The letter sets out the Ottawa view, based on its file documents:</p><p>

"Referring to your previous correspondence . . . I am very much gratified to learn that you are willing to give the Government the benefit of your valuable services for the purpose of renewing negotiations with that Band this year . . .</p><p>

"It appears from documents in possession of the Department a large portion, one half of the band, object to Yellow Quill as their chief, and desire to have the young chief "Short Bear" formally recognized as their chief, and further that Yellow Quill's portion of the band object to the reserve proposed to be assigned to them under the Treaty and ask to have their reserve elsewhere.</p><p>

“Having carefully read all the papers and considering your suggestions on the subject, I have to request you 1st. to inform Yellow Quill and theportion of the band that wish to acknowledge him as chief [1] that theywill be allowed to select a new reserve for themselves in the North, or ifnecessary, on both sides of the River, to include as they desire Eagle'sNest, and such extent of land as under the terms of the Treaty they willbe entitled to surrounded by the belt mentioned in the Treaty, upon the understanding, however, that the navigation of the River must not be in any way interfered with;</p><p>

2nd "that I will recommend His Excellency in Council to recognize the Young Chief Short Bear as their Chief of that portion of the Band who object to Yellow Quill and who signify their desire to have Short Bear as their chief. This portion of the Band will be assigned a Reserve of an extent proportioned to their number in such places as may be agreed upon.</p><p>

“Note that Wagner's reserve on the north side of the river has already been surveyed and marked for Short Bear. Note that Short Bear is to be assigned a reserve proportion to the number of persons who would adhere to his Band. Yellow Quill, however, will receive the extent of land as under the terms of the Treaty they will be entitled to, surrounded by the belt mentioned in the Treaty. In other words, Yellow Quill gets the full Treaty reserve including the belt, while Short Bear gets a reserve consisting of 160 acres per family. In fact, however, something different actually happened.”</p><p>

3rd "As regards the Indians on the White Mud River, I should not wish, disposed with the information at present before me, to recommend that they should be recognized as a distinct band with a reserve and chief of their own. The number of Indians seems hardly to warrant their claiming a separate reserve and chief, and there is certainly no land in the neighborhood where they are now living which would be available as a reserve for them. It seems very desirable that the White Mud River Indians should attach themselves either to Yellow Quill or Short Bear, and share in the Reserve assigned to such portion of the Band.</p><p>
"Any of these Indians, however, who are now settled in the neighborhood of White Mud River and desire to remain there will not be disturbed in their holdings unless indeed the land so held has already been granted to other parties by the Land Branch of this Department in ignorance of the fact of its being occupied by Indians. In no case, however, are Indians to consider themselves at liberty to settle on any fresh lands in that neighborhood. I must, however, in the matter of the White Mud River Indians, trust largely to your discretion having no doubt that you will make with them the most advantageous arrangements which the case admits.</p><p>

"5th. You will be careful to make the Indians understand that the arrangements made with you, more especially as regards the proposed alteration in the original reserve, must be subject to the approval of His Excellency the Governor in Council.</p><p>

"6th. You will probably think it advisable to take a surveyor with you to lay out at once the new reserves. The Surveyor General will, therefore, be instructed to place at your disposal for this purpose the services of Mr. Hart, the Inspector of Surveys in Manitoba..."</p><p>

On June 19, 1876, Lieutenant Governor Morris, set off from Portage for Long Plains to meet “. . . the Portage Band, to arrange the dispute with regard to the Reserve and to settle the Outside Promises."</p><p>

He was accompanied by James Graham of the Indian Commissioner's office, who was to act as paymaster, and J. Lestock Reid, P.L.S., who was to survey the reserve. The trip from Fort Garry had begun on June 14, and had not been a pleasant one – rains had worsened roads so that four days travel had been required with "mosquitoes in incredible numbers".</p><p>

Upon his arrival, Morris found 500 Ojibway assembled in three separate encampments. The negotiations lasted June 19 and 20. Morris reviewed the terms of the Stone Fort Treaty, and explained theywere getting double the land any other Indians in Treaties No. 1 and 2 weregetting.He said "the reserve belonged to all of them, and not to Yellow Quill's band alone.”</p><p>

When Yellow Quill said he did not understand the extent of the Reserve, Surveyor Reid was asked to show a diagram and explain its length in ordinary miles. Short Bear said they wanted a Reserve at the Long Plain even "if it was only a little piece of land, that they liked the place, that they had cut oak to build more houses, and where they had built houses, planted gardens, and wished to farm there."</p><p>

The White Mud River people said they were Christians and had always lived at White Mud River, and that they did not want to join with Yellow Quill or Short Bear, but wanted their own reserve at Big Point.</p><p>

In his book, Treaties of Canada with the Indians, p.30, Morris says the site selected was
Round Plain.  Morris told them they "could not have it there as there were settlers and that the Government wished them to join one of the other bands, and explained to them that their holdings would be respected except were inadvertedly sold. I took this course as I had ascertained that the plan of Yellow Quill's headmen was to make no settlement this year and that they had induced the other Indians to agree to act in that way.</p><p>

"I accordingly so shaped my opening speech and my dealings with the Indians as to defeat this project by securing the support of Short Bear's and the White Mud Indians which I succeeded in doing, though Yellow Quill's spokesman taunted the others with having broken their agreement."</p><p>



According to Morris, Yellow Quill did not wish to have the band broken up as Short Bear wished "as they all wished to live together." Morris told Yellow Quill "he would have his Reserve on both sides of the river, reserving the navigation, and that if they could agree to go to one reserve, I would be pleased, but if not, that I would settle the matter."</p><p>

Yellow Quill responded "that his councillors were willing that the other Indians should have a separate reserve, provided they retained the belt of25 miles in addition to their proportion of the Reserve (emphasis added). I informed them this could not be done; the reserve belonged to all."</p><p>

After a break in the proceedings, Yellow Quill renewed his insistance that the band should have a single reserve, and that he was willing to compromise on the location, since the site selected by Short Bear was better suited for agriculture. </p><p>

The following day, June 20, Yellow Quill announced "that his band were now willing to separate from the others, and wished to select a reserve higher up the river." Morris agreed that Short Bear could have his own reserve. He also agreed the White Mud River people could have a reserve "giving them their proportion of the original Reserve."</p><p>

"The White Mud River Indians asked for a separate reserve where they could farm, and I informed them that under the discretionary powers I possessed I would have a reserve selected for them, giving them their proportion of the original reserve."</p><p>

As for Yellow Quill, Morris wrote, "I informed them that I would accede to their request, but that they must do it at once and on the approval thereof by the Privy Council it would be laid off."</p><p>

Morris presented a draft agreement which he had written up "in anticipation of a settlement". Noting that at Treaty-signing "there was some misunderstanding as to the terms of the said treaty and in order to do away with same," the Governor in Council had passed an Order "for the purpose of adjusting all difficulties."</p><p>

Morris was referring to the 20 April 1875 Order in Council "which minute has been accepted by all the Bands of Indians" except for Yellow Quill's. Now, Morris said, Yellow Quill was also willing to accept the Order "as a satisfactory settlement and agree to  continue bound by the said Treaty as supplemented by the said Order in Council." ( The Order in Council referred to dealt only with the Outside Promises, and did not deal with reserves or a division of the band.) The document specified that "owing to the size of the said original Band, and the divisions existing among the Indians composing it, the said Band is divided into two Bands."</p><p>

It is interesting that the Yellow Quill band was divided into two, not three bands, and that later in the document the White Mud River band is recognized as a "distinct band." To summarize this in other words, Short Bear's band and Yellow Quill's band were subdivisions of the original Treaty Band, but that the White Mud River band was recognized as a distinct band. If that is the case, it is arguable as to whether the Mud River band accepted Treaty in 1871, or when members received first annuity, or in 1876. </p><p>

What is clear, however, is that the "Portage Band" was not "partitioned into three" as the TARR Report states, first of all because there never was a "Portage Band", and secondly, because of the facts cited above.</p><p>

With respect to reserves,

". . . inasmuch as there has been a difference of opinion between the said Indians and the Commissioner of Indian Affairs as to the Reserve to be allotted to the said Indians and its locality, a Reserve having been surveyed on the south side of the River Assiniboine [the Wagner Reserve] but not accepted by the said Indians, it is hereby agreed with regard to the Reserve promised by the said treaty that to the band of Yellow Quill, a Reserve shall be assigned by Her Majesty's Commissioner . . . to be selected in the region of country they now inhabit, and to be approved of by the said band (emphasis added), but said Reserve shall not be nearer to the Portage than 20 miles."
The White Mud River band "shall be recognized as a distinct band and Nawachewaykapow shall be accepted as their chief."</p><p>

Curiously, the agreement continues to say: ". . . and with regard to the remainder of the Band, a reserve shall be selected for them in some suitable locality. . ."This is not the first mention of this mystery group. What reserve were they ever given?</p><p>

The question remains open as to who are the "remainder of the Band" that would not have been included in the White Mud River group, Yellow Quill's group or Short Bear's group.</p><p>

The preamble to the Treaty states that the arrangements made regarding reserves were "subject to Her Majesty's approval."</p><p>

This phrase, “subject to Her Majesty’s approval”, has been interpreted to mean the Privy
Council had to ratify the terms of the agreement before it could come into effect. Article
1 of the agreement, settling the “Outside Promises” controversy, was ratified by Order in
Council PC 707 dated July 21, 1876. However, David Mills, Laird’s successor as Minister of the Interior, refused to recommend ratification of Article 3, settling the “belt dispute”, and alloting reserves to each the three Bands. Mills was concerned that the area selected by Yellow Quill in Twp 5, R11, WPM over land previously surveyed in 1973 under the Dominion Lands Act, contained a number of alienations to homesteaders, the Hudson’s Bay Company, and the School Endowment. Mills was also firmly of the opinion that Indian reserves should not be located in surveyed territory. [TARR Report
p. 25].</p><p>


The written Treaty stipulates that the Crown reserves navigation rights on waterways. The agreement continued:</p><p>

". . . inasmuch, as by the said Treaty, the Reserve to be allotted to the original Band was one hundred and sixty acres of land for each family of five or in that proportion for larger or smaller families, together with a tract enclosing the same, equivalent to twenty-five square miles of equal breadth, it is hereby agreed that the separate reserves to be granted to the said three bands shall contain an amount of land equal to that stipulated to be given to the original band, and such land shall be assigned to each Band in proportion to their relative numbers so that each band shall receive their fair and just share of said land."</p><p>

In other words, in addition to the Treaty Land Entitlement by the formula, each of the bands is entitled to its proportion of the 25 square-mile belt. If each band takes a third,that's eight and a third square miles each. If it is to be decided by proportion of population, Sandy Bay's proportion would be smaller but additional information is needed to calculate precisely. It is believed, however, that the largest band, Short Bear's (now Long Plain) settled its Treaty Land Entitlement on the 1/3 basis, leaving it open for the other two to claim "their third".</p><p>

Chief Yellow Quill agreed only that notwithstanding that these two bands were to have theretain the belt which was to surround their reserve in addition to their own reserve. However, the Crown representatives did not agree to this proposal and proceeded unilaterally. The agreement which was signed following the meeting is silent or ambiguous with respect to the areas of dispute.</p><p>

The Treaty also stipulates that the White Mud Band would have a Chief and two headmen.</p><p>

Morris reported that Yellow Quill cheerfully signed the draft agreement Morris had prepared, saying he "now understood what he never did before," which Morris interpreted to mean what had been decided at the Stone Fort Treaty.</p><p>

It is open to question whether this can be called an adhesion to Treaty. Had approvalbeen received from the Imperial Crown? Was Morris appointed as a Royal Treaty Commission for the purpose of this Treaty Conference? As to the Order in Council, it makes no reference to the division of the bands or the allocation of reserves – what authority to Morris have to include these matters in an Agreement?</p><p>

The signing included three chiefs, six of the ten councillors, three interpreters and the federal representatives, including Morris, Reid and Graham. Two of Yellow Quill's councillors, Oosawepeeckece20 and Wayrewaykee,21 refused to sign, "saying they had agreed by the mouth".</p><p>

Under pressure from Morris, one Councillor did sign, but "the other persistently refused". He eventually did sign. Signing with Yellow Quill was Weeanmetahcouse.22 </p><p>

Signing with Keskeemahquat [Short Bear] were Kecheweese24 and Peter Prince (son of Peguis). Chief Nawachewaykapow and Baptiste Spence26 signed for White Mud River. Kasoway, the noted Saulteaux free trader (and a member of Yellow Quill’s community, is listed as an official witness. Yellow Quill accepted a medal and uniform. While Morris was with Yellow Quill, he must have been very conscious of the crisis building not very far to the West with the Sioux. He did not know, though, only a few days after he finished negotiating with YellowQuill, on June 25, Sitting Bull and Crazy Horse would be meeting General George Custer in the Battle of the Little Big Horn, an event which would have repercussions in the Canadian North West. Morris communicated the results of his meeting with Yellow Quill to the Minister of the Interior on July 8, 1876. Morris reported that as a result of the agreement he had achieved,

Short Bear appears on the very first Yellow Quill paylist and continues on every annual paylist until the Short Bear band is formed. This appears to contradict the position that Short Bear had been out west on the Plains, and had recently come back to Portage.</p><p>

"Yellow Quill is to go without delay to look up a reserve, and as there are no settlers in the region in Question, (emphasis added) I propose thatif Mr. Reid sees no objection to the locality he should at once lay it off,so as to effectually terminate the chronic difficulty with this Band. Ishall be glad to receive by telegram your approval of his doing so.</p><p>

"After Surveyor Reid completed his surveys, he reported to Morris on July
12, 1876:</p><p>

"I would mention in conclusion that 'the Short Bear' and the Chief of the White Mud Band expressed the utmost satisfaction and regard for the manner your Excellency saw fit to settle the difficult question in connection with their lands."</p><p>

Thus it was that the Long Plain First Nation became located at Long Plain, and how it became a First Nation with its own Chief and Council.</p>




                </div>

                </div>

                </section>