@{
    ViewBag.Title = "Faq";
}

<section id="page-title">

			<div class="container clearfix">
				<h1>Frequently Asked Questions</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Faq</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="postcontent nobottommargin clearfix">

					
						<div id="faqs" class="faqs">
<div id="faqs-list" class="fancy-title title-bottom-border">
								<h3>Some of your Questions:</h3>
							</div>
							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>Where is Long Plain First Nation located in Manitoba?</div>
								<div class="togglec" style="display: none;">The Long Plain First Nation is an Ojibway First Nations band government whose reserve is

located in the Central Plains region of Manitoba, Canada. It is located to the southwest of Portage la

Prairie along the Assiniboine River. It lies between the Rural Municipality of Portage la Prairie and the

Rural Municipality of South Norfolk, and also borders another band&#39;s Indian reserve, that of the Dakota

Plains First Nation.</div>
							</div>

							<div class="toggle faq faq-authors faq-miscellaneous">
								<div class="togglet"><i class="toggle-closed icon-comments-alt"></i><i class="toggle-open icon-comments-alt"></i>What is population of Long Plain First Nation?</div>
								<div class="togglec" style="display: none;">
                                
                                <table class="table">
							  <thead>
								<tr>
								  <th>#</th>
								  <th>Residency</th>
								  <th>No. of People</th>
								  
								</tr>
							  </thead>
							  <tbody>
								<tr class="active">
								  <td>1</td>
								  <td>Males On Own Reserve</td>
								  <td>1,134</td>
								  
								</tr>
								<tr class="info">
								  <td>2</td>
								  <td>Females On Own Reserve</td>
								  <td>1,060</td>
								 
								</tr>
								<tr class="active">
								  <td>3</td>
								  <td>Males On Other Reserves</td>
								  <td>24</td>
								 
								</tr>
								<tr class="info">
								  <td>4</td>
								  <td>Females On Other Reserves</td>
								  <td>25</td>
								 
								</tr>
								<tr class="active">
								  <td>5</td>
								  <td>Males Off Reserve</td>
								  <td>964</td>
								 
								</tr>
								<tr class="info">
								  <td>6</td>
								  <td>Females Off Reserve</td>
								  <td>1,066</td>
								 
								</tr>
								<tr class="active">
								  <td>7</td>
								  <td>Total Registered Population</td>
								  <td><b>4,273</b></td>
								 
								</tr>
								
							  </tbody>
							</table>
                                
                                
                                
                                </div>
							</div>

							<div class="toggle faq faq-miscellaneous">
								<div class="togglet"><i class="toggle-closed icon-lock3"></i><i class="toggle-open icon-lock3"></i>How much land is managed by Long Plain First Nation?</div>
								<div class="togglec" style="display: none;">Long Plain First Nation Lands Department manages 12,811.78 acres of reserve land.

6,885.7 acres is lease for agricultural purposes. The remaining 5,926.08 acres of land are used

for residential areas, roads, educational, recreational, commercial leasing, health services, and

burial sites, traditional and cultural purposes. A significant amount of green or natural land areas

is considered for wildlife and waterfowl.</div>
							</div>

							<div class="toggle faq faq-authors faq-legal faq-itemdiscussion">
								<div class="togglet"><i class="toggle-closed icon-download-alt"></i><i class="toggle-open icon-download-alt"></i>How is land being used by Long Plain First Nation?</div>
								<div class="togglec" style="display: none;">
                                

                                <table class="table">
							  <thead>
								<tr>
								  <th>#</th>
								  <th>Current Land Use Areas</th>
								  <th>Land Use - Acres</th>
								  <th>Percent</th>
								</tr>
							  </thead>
							  <tbody>
								<tr class="active">
								  <td>1</td>
								  <td>Agriculture Production (leased)</td>
								  <td>6,885.7</td>
								  <td>54.0%</td>
								</tr>
								<tr class="info">
								  <td>2</td>
								  <td>Pasturelands (open)</td>
								  <td>1,242.3</td>
								  <td>9.7%</td>
								</tr>
								<tr class="active">
								  <td>3</td>
								  <td>Residential Housing (units and acres)</td>
								  <td>363.0</td>
								  <td>2.9%</td>
								</tr>
								<tr class="info">
								  <td>4</td>
								  <td>Education</td>
								  <td>20.81</td>
								  <td>.02%</td>
								</tr>
								<tr class="active">
								  <td>5</td>
								  <td>Commercial</td>
								  <td>10.0</td>
								  <td>.01%</td>
								</tr>
								<tr class="info">
								  <td>6</td>
								  <td>Recreation (powwow grounds and arena)</td>
								  <td>23.23</td>
								  <td>.20%</td>
								</tr>
								<tr class="active">
								  <td>7</td>
								  <td>Roads and Lanes</td>
								  <td>364.08</td>
								  <td>.03%</td>
								</tr>
								<tr class="info">
								  <td>8</td>
								  <td>Natural Areas (includes forested and water areas)</td>
								  <td>3,875.71</td>
								  <td>30%</td>
								</tr>
								<tr class="active">
								  <td>9</td>
								  <td>Total Land Use Areas</td>
								  <td>401.5</td>
								  <td>3%</td>
								</tr>
                                <tr class="info">
								  <td>10</td>
								  <td>Total Land Use Areas</td>
								  <td>12,786.83</td>
								  <td>100%</td>
								</tr>   
							  </tbody>
							</table>

                                
                                </div>
							</div>

							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-ok"></i><i class="toggle-open icon-ok"></i>How can get may status card?</div>
								<div class="togglec" style="display: none;">The Tribal Registry Office is located in the Tribal Administration Office. The Tribal

Registry is responsible for the maintenance of the Tribal Members registry, population statistics,

births, transfers, divorces, registered deaths, marriages and Bill C-31applications. New Secure

Indian Status Cards be applied for at Room 200, 365 Hargrave Street, Winnipeg, Manitoba.</div>
							</div>

							

						</div>

						<script type="text/javascript">
						    jQuery(document).ready(function ($) {
						        var $faqItems = $('#faqs .faq');
						        if (window.location.hash != '') {
						            var getFaqFilterHash = window.location.hash;
						            var hashFaqFilter = getFaqFilterHash.split('#');
						            if ($faqItems.hasClass(hashFaqFilter[1])) {
						                $('#portfolio-filter li').removeClass('activeFilter');
						                $('[data-filter=".' + hashFaqFilter[1] + '"]').parent('li').addClass('activeFilter');
						                var hashFaqSelector = '.' + hashFaqFilter[1];
						                $faqItems.css('display', 'none');
						                if (hashFaqSelector != 'all') {
						                    $(hashFaqSelector).fadeIn(500);
						                } else {
						                    $faqItems.fadeIn(500);
						                }
						            }
						        }

						        $('#portfolio-filter a').click(function () {
						            $('#portfolio-filter li').removeClass('activeFilter');
						            $(this).parent('li').addClass('activeFilter');
						            var faqSelector = $(this).attr('data-filter');
						            $faqItems.css('display', 'none');
						            if (faqSelector != 'all') {
						                $(faqSelector).fadeIn(500);
						            } else {
						                $faqItems.fadeIn(500);
						            }
						            return false;
						        });
						    });
						</script>

					</div>
				</div>

			</div>

		</section><!-- #content end -->

