@{
    ViewBag.Title = "Gallery";
}

<section id="page-title">

			<div class="container clearfix">
				<h1>Image Gallery</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					
					<li class="active">Gallery</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
				<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">


					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio-3 clearfix">

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg1.png" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg1.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg2.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg2.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg3.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg3.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        
                        
						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg4.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg4.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg5.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg6.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg6.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg7.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg7.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg8.png" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg8.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg9.png" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg9.png" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg10.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg10.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg11.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg11.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg12.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg12.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg13.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg13.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg14.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg14.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg15.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg15.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>
                        <article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="~/Content/images/gallery/gimg16.jpg" alt="Lands Gallery">
								</a>
								<div class="portfolio-overlay">
									<a href="~/Content/images/gallery/gimg16.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									
								</div>
							</div>
							
						</article>

					</div><!-- #portfolio end -->

					<!-- Portfolio Script
					============================================= -->
					<script type="text/javascript">

					    jQuery(window).load(function () {

					        var $container = $('#portfolio');

					        $container.isotope({ transitionDuration: '0.65s' });

					        $('#portfolio-filter a').click(function () {
					            $('#portfolio-filter li').removeClass('activeFilter');
					            $(this).parent('li').addClass('activeFilter');
					            var selector = $(this).attr('data-filter');
					            $container.isotope({ filter: selector });
					            return false;
					        });

					        $('#portfolio-shuffle').click(function () {
					            $container.isotope('updateSortData').isotope({
					                sortBy: 'random'
					            });
					        });

					        $(window).resize(function () {
					            $container.isotope('layout');
					        });

					    });

					</script><!-- Portfolio Script End -->

				</div>

			</div>

		</section><!-- #content end -->

