@{
    ViewBag.Title = "Projects";
}

		<section id="page-title">

			<div class="container clearfix">
				<h1>Projects</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					
					<li class="active">Projects</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_two_fifth nobottommargin" >
						<img src="~/Images/project1.jpg" alt="lpland projects" title="lpland projects"/>
					</div>

					<div class="col_three_fifth nobottommargin col_last">

						<div class="heading-block">
							<h3>Economic Development</h3>
							
						</div>

						<p>Indigenous Northern Affairs Canada provides annual funding to administer the Community Economic Development on the Long Plain Reserve. The First Nation (LPFN) and Arrowhead Development Corporation contributes to majority of funds towards the LPFN economic development program and projects. As well, Manitoba Hydro Community Development Initiative contributes an annual payment towards community development projects.</p>

						
					</div>

					<div class="clear"></div><div class="line"></div>

					<div class="col_three_fifth">

						<div class="heading-block">
							<h3>Manitoba Bipole III & Community Development Initiative</h3>
							
						</div>

						<p>Manitoba Bipole III is a high voltage direct current transmission project in Manitoba that will deliver renewable energy to southern Manitoba and the United States. Once completed, Bipole III proposes to strengthen reliability and security of Manitoba's electricity supply by reducing dependency on existing high voltage direct current transmission lines and the Dorsey Converter Station. Manitoba Hydro currently relies on these facilities to deliver over 70 per cent of the electricity produced in the province. </p>

						<p>Long Plain First Nation (LPFN) and Manitoba Hydro entered into a ten-year Community Development Initiative (CDI) Agreement. In the agreement Manitoba Hydro will provide an annual contribution to LPFN as a result of the vicinity of the Bipole III facilities to the First Nation community. The CDI will provide contribution support for development projects, which will benefit broad segments of the community.</p>

					

					</div>

					<div class="col_two_fifth col_last" >
						<img src="~/Images/project1.jpg" alt="lpland projects" title="lpland projects"/>
					</div>
                    
                    <div class="clear"></div><div class="line"></div>

					<div class="col_two_fifth  nobottommargin">
						<img src="~/Images/project1.jpg" alt="lpland projects" title="lpland projects"/>
					</div>

					<div class="col_three_fifth nobottommargin col_last">

						<div class="heading-block">
							<h3>Manitoba Hydro Geothermal Program</h3>
							
						</div>

						<p>Through the Community Geothermal Program First Nations community members are engaged in being active participants in reducing their energy consumption. This is achieved through training local businesses on how to install and maintain geothermal heat pump systems while providing homeowners with convenient and affordable financing through Pay As You Save (PAYS) Financing.</p>

						
					</div>

					

				</div>

				<a class="button button-full center tright topmargin footer-stick">
					<div class="container clearfix">
						Need Our Services? <strong>Start here</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>

		</section><!-- #content end -->



		